bin/
lib/
lib64
pyvenv.cfg
include/
venv/
__pycache__/
src/assets/audios/speech.mp3
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.env
src/assets/audios/speech.mp3
src/assets/images/image.jpeg
src/assets/images/image.jpg
src/assets/images/image.png
src/data/main.json